* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  position: relative;
}

/* Style the header */
.header {
/*  background-color: #1d5c3f75; */
/*  background-color: #ffffffa2; */
  background-color: #57949b;
  padding: 1px 40px;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Public Sans', sans-serif;

}

.header h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 1000;
}

.header a {
  text-decoration: none;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
/*  background-color: #374a57; */
  background-color: #142122;
  padding: 0px 20px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #ffffdc;
  font-family: 'Public Sans', sans-serif;
  text-align: center;
  font-size: 110%;
  padding: 16px 25px;
  text-decoration: none;
  border-top:3px solid transparent;
  border-bottom:3px solid transparent;
}

.topnav a.floatmenu {
    float:right;
}

/* Change color on hover */
.topnav a:hover {
  border-bottom: 3px solid #fafa80;
  color: #ffffdc;
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 80px 20px;
  }
  
  /* Left and right column */
  .column.left {
    width: 50%;
    color: white;
    font-size: 20px;
    padding-top: 10px;
  }
  
  /* Middle column */
  .column.right {
    width: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
/*    background-color: white; */
    background-color: #BFF58Ba2;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    /* padding: 120px 350px; */
    max-width: 920px;
    padding: 125px 10px;
    margin: 0 auto;
  }

  .loginformdiv {
    background-image: url("\whitecar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  .row1 {
    /* padding: 120px 350px; */
    max-width: 1220px;
    padding: 50px 0px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(233, 233, 233);
/*    background-color: rgb(211, 211, 211, 0.774);
    background-color: rgb(214, 171, 171); */
    border-radius: 5px;
  }

  .chartstext {
    padding: 0px 40px;
    margin-bottom: 55px;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.right, .column.left {
      width: 100%;
    }
  }
  
  /* Style the footer */
  .footer {
    background-color: #142122;
    padding: 1px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .info{
    text-align: right;
    font-size: 15px;
    color:aliceblue;
    padding-right: 30px;
  }

  .chart {
    width: 48%;
    height: 48%;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px 10px;
    border-radius: 7px;
  }

  .chartspagediv {
    background-color: #79bbc9; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .charts {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 50px;
  }

  .buttoncolumn{
    float: left;
    width: 33.33%;
    padding: 10px;
  }

/* Remove extra left and right margins, due to padding in columns */
.main1row {
  max-width: 1920px;
  padding: 100px 20px;
  margin: 0 auto;
}

/* Clear floats after the columns */
.main1row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: rgba(18, 101, 105, 0.664);
  border-radius: 5px;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  width:90%;
  height:100px;
  background-color: rgb(35, 232, 242, 0.671);
  border-radius:5px;
  border: 1px solid #ccc;
}
input[type='checkbox']:hover {
  background: #abd;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .buttoncolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.tablink {
  background-color: rgb(155, 185, 171);
  color: white;
  float: left;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 14px;
  width: 15%;
}

.tablink:hover {
  background-color: #777;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=text], [type=number], [type=password],textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.column.right button[type=submit] {
  background-color: #142122;
  width: 100%;
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.column.right button[type=submit]:hover {
  background-color: #21383a;
}

.rowform {
  padding: 5px 0px;
}


.rowform:after {
  content: "";
  display: table;
  clear: both;
  float: left;
  width: 150%;
  margin-top: 18px;
}

.column.right form {
  width: 90%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  border-radius: 10px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: hi;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  width : 300px; 
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 88px;
  background-color: #BFF58Ba2;
  border-radius: 40px;
  color: #363634;
}

/* Style the back side */
.flip-card-back {
  background-color: #142122;
  color: #BFF58B;
  font-size: 18px;
  padding-top: 20px;
  border-radius: 40px;
  transform: rotateY(180deg);
}

.flip-card-back p {
  font-size: 20px;
  text-align: center;
  padding: 30px 60px;
}

.column3 {
  float: left;
  width: 50%;
  
  display: flex;
  justify-content: center;
  padding: 20px;
}

.row2 {
  padding-top: 60px;
/*  padding-bottom: 180px; */
  max-width: 920px;
  margin: 0 auto;
}

.flipicon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}


/* Clear floats after the columns */
.row2:after {
  content: "";
  margin: 0 auto;
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column3 {
    width: 100%;
  }
}

.columnmain {
  float: left;
  width: 33.33%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .columnmain {
    width: 100%;
  }
}

  .row3 {
    padding-top: 60px;
/*    padding-bottom: 224px; */
    max-width: 1050px;
    margin: 0 auto;
  }
    
  /* Clear floats after the columns */
  .row3:after {
    content: "";
    margin: 0 auto;
    display: table;
    clear: both;
  }

  .row23 {
    padding-top: 89px;
/*    padding-bottom: 224px; */
    max-width: 1050px;
    margin: 0 auto;
  }
    
  /* Clear floats after the columns */
  .row23:after {
    content: "";
    margin: 0 auto;
    display: table;
    clear: both;
  }
  
  .maintext{
    padding: 10px 30px;
    color: white;
    font-size: 115%;
  }

  .maintext2{
    padding: 10px 30px;
    color: white;
    font-size: 115%;
  }
  
  table {
    margin-top: 30px;
  }
  table, th, td {
/*    border: 1px solid black; */
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 10px;
  }

  thead {
    background-color: #57949b;
    color:white;
  }
  tbody {
    background-color: white;
    color: black;
  }
  tbody tr {
    cursor: pointer;
    border-bottom: 1px solid rgb(15, 15, 15);
  }
  tbody tr:hover {
    background-color: rgb(238, 238, 238);
  }

  table .billtable{
    margin-bottom: 10px;
  }

  .allbilltables{
    margin-bottom: 62px;
  }

  .billtable tr {
  cursor:auto;
  }
  .billtable tbody tr:hover {
    background-color: white;
  }
  .error {
    padding: 0px 40px;
    color: red;
    padding-top: 10px;
    padding-bottom: 110px;
  }

  .paymerror {
    padding: 0px 40px;
    color: red;
    padding-top: 10px;
    padding-bottom: 230px;
  }

  .positivemessage {
    padding: 0px 10px;
    color: #BFF58B;
    font-weight: 700;
    font-size: 114%;
    padding-top: 10px;
    padding-bottom: 98px;
  }

  .billtable button {
      border: none;
      outline: none;
      font-size: 11px;
      font-family: "Quicksand", sans-serif;
      color: #ffffff;
      padding: 8px 20px;
      border-radius: 8px;
      cursor: pointer;
      background-color: #142122;
  }

  .billtable button:hover {
    border: none;
    outline: none;
    font-size: 11px;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #21383a;
}

.paddingg{
  padding-bottom: 174px;
}

.otherbutton {
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: 30%;
  background-color: #142122;
  color: white;
  padding: 12px;
  margin-left: 30px;
}
.otherbutton:hover{
  background-color: #21383a;
}

.programform input{
  width: 10%;
  margin: 10px;
}

.programform button{
  width: 30%;
  margin: 10px;
  background-color: #142122;
  color: white;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
}
.programform button:hover {
  background-color: #21383a;
}

.paddinggg{
  padding-bottom: 132px;
}

.regions {
  width: 321px;
}

.cashcard button {
  background-color: #142122;
  width: 20%;
  margin-right: 10px;
  padding: 20px 40px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.cashcard button:hover {
  background-color: #21383a;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card3 {
  background-color: transparent;
  width: 300px;
  border-radius: 10px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}


/* Position the front and back side */
.flip-card-front3 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: hi;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front3 {
  padding: 40px 35px;
  font-size: 14px;
  text-align: center;
  width : 300px; 
  height: 300px;
  background-color: #bef58bd0;
  border-radius: 40px;
  color: #363634;
}

.mapboxgl-marker {
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border:none;
  
}

#prettytable {
  font-family: 'Public Sans', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#prettytable td, #prettytable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#prettytable tr:nth-child(even){background-color: #a8d6f5;}
#prettytable tr:nth-child(odd){background-color: #bef58ba9;}

#prettytable tr:hover {background-color: rgba(226, 226, 214, 0.938);}

#prettytable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #152a3b;
  color: white;
}

.flip-card2 {
  background-color: transparent;
  width: 400px;
  border-radius: 10px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front2, .flip-card-back2, .flip-card-back2car {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: hi;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front2 {
  width : 400px; 
  height: 400px;
  display: flex;
  justify-content: center;
  padding: 70px 78px;
  background-color: #fafeffe1;
  border-radius: 40px;
  color: #363634;
}

/* Style the back side */
.flip-card-back2 {
  background-color: #142122;
  color: #b3e8fd;
  font-size: 12px;
  padding-top: 74px;
  text-align: center;
  border-radius: 40px;
  transform: rotateY(180deg);
}

.flip-card-back2car {
  background-color: #142122;
  color: #b3e8fd;
  font-size: 10px;
  padding-top: 48px;
  text-align: center;
  border-radius: 40px;
  transform: rotateY(180deg);
}

.flip-card-back2 p {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}


.roww:after {
  content: "";
  display: table;
  display: flex;
  justify-content: center;
  clear: both;
}
.roww {
  /* padding: 120px 350px; */
  max-width: 920px;
  padding: 86px 10px;
  margin: 0 auto;
}
.columnmain2 {
  float: left;
  content: "";
    display: table;
    clear: both;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .columnmain2 {
    width: 100%;
  }
}

.button1 {
  transition-duration: 0.4s;
  background-color: #152a3b; /* Green */
  border: none;

  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1:hover {
  background-color: #152a3b; /* Green */
  color: #3f7aaa;
}

.button28[type=submit] {
  transition-duration: 0.4s;
  background-color: #152a3b;
  width: 100%;
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.button28[type=submit]:hover {
  background-color: #152a3b;
  color: #3f7aaa;
}

.topnavwannabe{
  height: 50px;
  background-color: #142122;

}